#page {
    background-color: dodgerblue;
    text-align: center;
}

ul {list-style: circle;}
ol {list-style: decimal;}

img {width: 300px;
    height: 350px;}

.button {
    background-color: black;
    color: white;}

.number1 {
    background-color: white;
    color: black;
    font-weight: bold;
}

.ingredients {
    border: 5px red solid;    
    margin: auto;
    text-align: left;
    padding: auto;
}

.section {
    border-style: solid;
    text-align: left;
    width: 90%;
}

.section1 {
    font-size: 20px;
    color: white;
}